<div class="sidebar">
    <!-- En-tête -->
    <div class="sidebar-header">
        <h2>
            Plant Manager
        </h2>
        <hr>
    </div>

    <!-- Corps -->
    <div class="sidebar-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a routerLink="/home" class="nav-link active" href="/home"><i class="bi bi-house"></i>Accueil</a>
            </li>
            <li class="nav-item">
                <a routerLink="/plants" class="nav-link" href="/plants"><i class="bi bi-flower3"></i>Plantes</a>
            </li>
            <li class="nav-item">
                <a routerLink="/notifications" class="nav-link" href="/notifications"><i class="bi bi-bell"></i>Notifications</a>
            </li>
            <li class="nav-item">
                <a routerLink="/history" class="nav-link" href="/history"><i class="bi bi-clock-history"></i>Historique</a>
            </li>
            <!-- Ajoutez d'autres liens ici -->
        </ul>
    </div>

    <!-- Pied -->
    <div class="sidebar-footer">
        <a class="nav-link" routerLink="/settings" href="/settings" class="btn btn" style="text-align: center; background-color: transparent; color: white;"><i class="bi bi-gear"></i></a>
    </div>
</div>
